body{
    background-color: rgba(8, 5, 27, 0.699);
}
div{
    margin-bottom: 30px;
}
p{
    margin-bottom: 5px;
}
button{
    margin: 16px;
}
.repeticao{
    background-color: lightcoral;
    background-image: -webkit-image-set("https://img.freepik.com/vetores-gratis/scifi-e-papel-de-parede-de-quadro-de-neon-vintage-cibernetico-com-efeito-equalizador_1017-43047.jpg?w=1380&t=st=1707970513~exp=1707971113~hmac=cde62880a415dba99ea094710ce87be2c9462a6feb59167973cd0878e6fa4957");
    /*Imagem de starline no Freepik*/
    width: 533px;
    height: 300px; 
    background-size: 30%;
}